
.jumbotron {
    background-image: url(joanna-kosinska-mjC9apK53a8-unsplash.jpg);
    background-size: cover; 
    background-position: center; 
}

body {
    background-image: url(pawel-czerwinski-EVc9wRUXpeo-unsplash.jpg);
    background-color: #CCCCCC;
}

img {
    
    height: 70%;
}

.puzzleBody {
    margin-top: 75px;
}

.indexBody {
    margin-top: 55px;
}

.card {
    border: 1px solid black;
}

img {
    border-bottom: 1px solid black;
}

 